<!DOCTYPE html>
<html>
<head>
    <title>InstaHUST</title>
</head>
<body style="font-family:'Helvetica Neue'">
    <div style="margin:50px auto;width:550px;position:relative">
        <h1>
            好极了！<br/><br/>您的Instagram账号已经连接。
            <br /> <br /> 从现在开始，您每次使用Instagram发布带有#instahust标签的照片，
            这张照片就会立即同步到您的新浪微博账号中！
        </h1>
        <div style="position:relative">
            <br /> <br />
            <div style:"position:absolute;left:0">
                <h1 style="display:inline;margin:0">*\(^o^)/*</h1>
            </div>
        </div>
        <br /> <br />
        <div style="position:absolute;right:0;">
            <h4><a href="/instagram/disconnect">断开与Instagram的连接</a></h4>
        </div>
    </div>
</body>
