<!DOCTYPE html>
<html>
<head>
    <title>InstaHUST</title>
</head>
<body style="font-family:'Helvetica Neue'">
    <div style="margin:50px auto;width:550px;position:relative">
        <h1>
            欢迎！
        </h1>
        <h1>
            InstaHUST用于连接您的Instagram账号到新浪微博账号。一旦连接成功，
            InstaHUST会自动将您的照片中带有#instahust标签的照片同步到新浪微
            博。
            <br /> <br />
        </h1>
        <h1>
            听起来不错？那么开始吧！ <br />
            <a href="javascript:;" onclick="do_login();">连接到您的Instagram账号</a>
        </h1>
        <div id="ig-root"></div>
        <script>
            function do_login() {
                IG.login(function (response) {
                    if (response.code) {
                        document.location = '/instagram/callback?code=' + response.code;
                    } else if (response.session) {
                        document.location = '/instagram/load_user?ig_user_id=' + response.session.id;
                    }
                }, {
                    response_type: 'code',
                    scope: ['comments', 'likes', 'relationships']
                });
            }

            window.igAsyncInit = function() {
                IG.init({
                    client_id: '{{ client_id }}',
                    logging: true,
                    check_status: false
                });
            };

            (function() {
                var e = document.createElement('script'); e.async = true;
                e.src = document.location.protocol +
                    '//github.com/Instagram/instagram-javascript-sdk/raw/master/ig-min.js';
                document.getElementById('ig-root').appendChild(e);
            }());
        </script>
    </div>
</body>