COOKIE_SECRET = "958070f945fd4XxxSOMETHING_RANDOMxXX570f945fd4"
INSTAGRAM_REDIRECT_URI = "http://instahust.appspot.com/instagram/callback"
INSTAGRAM_PUSH_CALLBACK = "http://instahust.appspot.com/instagram/push_callback"
INSTAGRAM_CONFIG = {
        "client_id": "CLIENT_ID",
        "client_secret": "CLIENT_SECRET",
        "redirect_uri": INSTAGRAM_REDIRECT_URI
}

WEIBO_GSID = "YOUR weibo.cn gsid"

try:
    from local_settings import *
except ImportError, e:
    pass
